bodys{
    margin: 0;
    padding: 0;
}
/* ....slider category */
.main_slider{
  margin-top: 50px;
  
}
.slider-cat{
    
    text-align: center;
    padding-left: 20px;
    margin-left: 10px;
    padding-top: 10px;
}
.slider{
   overflow: hidden;
   display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:20px;
   width: 0;
}

.slider-img img{
    width: 60px;
    height: 60px;
    border: 1px solid #e5e5e5;
   
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.priv-arrow {
    position: absolute;
    cursor: pointer;
    color: rgb(144, 133, 133);
    top: 30%;
    cursor: pointer;
}
.next-arrow {
    position: absolute;
    right: 0px;
    top: 30%;
    cursor: pointer;
    color: rgb(165, 162, 162);
}


.img-sec{
    border: 1px solid rgb(170, 164, 164); 
   border-radius: 4px;
  overflow: hidden;
  margin-top: 20px;
   
}
.img-dt{
    overflow: hidden;
}
.img-a{
    width:100%;  
    transition:all 3s ease !important; 
    overflow: hidden;
}
.img-btm{
    background: black;
    color:white;
    margin-bottom: 0rem;
    padding: 6px 0;
}
.img-sec:hover{
    border: 1px solid rgb(250, 101, 32); 
    
}
.img-btm:hover{
    background:rgb(250, 101, 32);
    color:rgb(10, 6, 6);
}

.img-sec2{
    margin-top: 20px; 
    border-radius: 8px;
    overflow: hidden;
    
}

.img-cent{
    border: 1px solid rgb(241, 240, 240);
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 20px;
}
.img-cent img{
    width: 100%;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    transition:all 3s ease !important; 
}

.img-cent:hover{
    border: 1px solid rgb(250, 101, 32); 
}
img:hover{
    transform: scale(1.1);
}


