bodys{
    margin: 0;
    padding: 0;
}
.img-sec{
    border: 1px solid rgb(170, 164, 164); 
   border-radius: 4px;
  overflow: hidden;
  margin-top: 20px;
   
}
.img-dt{
    overflow: hidden;
}
.img-a{
    width:100%;  
    transition:all 3s ease !important; 
    overflow: hidden;
}
.img-btm{
    background: black;
    color:white;
    margin-bottom: 0rem;
    padding: 6px 0;
}
.img-sec:hover{
    border: 1px solid rgb(250, 101, 32); 
    
}
.img-btm:hover{
    background:rgb(250, 101, 32);
    color:rgb(10, 6, 6);
}

.img-sec2{
    margin-top: 20px; 
    border-radius: 8px;
    overflow: hidden;
    
}

.img-cent{
    border: 1px solid rgb(241, 240, 240);
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 20px;
}
.img-cent img{
    width: 100%;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    transition:all 3s ease !important; 
}

.img-cent:hover{
    border: 1px solid rgb(250, 101, 32); 
}
img:hover{
    transform: scale(1.1);
}


